// Colors
$back: #F6F6F6;
$slct: #C4E7CC;
$inpt: #FFFFFF;
$ipto: #CFCFCF;
$ipth: #A3A3A3;
$iptf: #3169F4;

$base: #414141; // Global
$gray: #828282; // Obfuscated
$hlt1: #4C69BF; // User
$hlt2: #627E00; // Me
$hlt3: #E77E00; // Meta
$hlt4: #CF3635; // System

// Type
$head: "Varela Round", "Helvetica", sans-serif;
$main: "Verdana", "Monaco", monospace;
$scnd: "Ubuntu Mono", "Lucida Console", monospace;
$code: "Source Code Pro", "Monaco", monospace;

// Sizes
$txt1: 12px;
$txt2: 14px;
$txt3: 11px;
