body, body * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color:#333;
}

body {
    background: #eee;
}

input {
    outline: none;
}

.left-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 225px;
    background: #FDFDFD;
border-right: 1px solid rgb(221, 221, 221);
z-index: 2;
}

.main-content {
    left: 225px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

}

.input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    border-top: 1px solid #aaa;
    z-index: 1;
}

#msg-input {
    height: 35px;
    width: 100%;
    border: none;
    font-size: 25px;
    line-height: 35px;
    padding: 0 5px;
    margin: 0;
}

.room {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.msg {
    position: absolute;
    top:0;
    bottom:35px;
    left: 0;
    right: 0;
    background: #eee;
    overflow: auto;
    padding-top: 50px;
}

#loginbox {
    z-index: 999999;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: #ddd;
    text-align: center;
}

.msg-title {
position: relative;
width: 100%;
background: transparent;
height: 50px;
line-height: 50px;
}

.msg-box {
position: relative;
width: 100%;
background: white;
border-bottom: 1px solid rgb(236, 236, 236);
}

.msg-content {
padding: 8px 5px;
    padding-left: 50px;
}

time {
padding: 0 8px;
color: white;
text-align: right;
float: right;
line-height: 25px;
height: 25px;
display: block;
font-size: 15px;
}

.username {
padding: 0 8px;
background: transparent;
color: #ADADAD;
font-weight: 600;
line-height: 25px;
height: 25px;
display: block;
font-size: 14px;
margin-left: 38px;
height: 50px;
line-height: 50px;
position: absolute;
    left: 8px;
}

#loginbox input {
    width: 175px;
    height: 35px;
    border: 1px solid #aaa;
    outline: none;
    display: block;
    position: relative;
    left:0;
    right:0;
    margin: 0 auto;
    top:150px;
    font-size: 20px;
padding: 0 8px;
}

.username .profile {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: -40px;
width: 40px;
height: 40px;
background: rgb(62, 189, 255);
border-radius: 100%;
margin: auto 0;
line-height: 40px;
text-align: center;
font-size: 26px;
color: white;
}

.users {
position: fixed;
left: 225px;
right: 0;
height: 50px;
box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.26);
background: white;
top: 0px;
z-index: 1;
    text-align: right;
}

.users .user {
width: 40px;
top: 0;
bottom: 0;
height: 40px;
border-radius: 100%;
display: inline-block;
background: rgb(199, 199, 199);
text-align: center;
line-height: 40px;
position: relative;
margin: 5px 8px;
font-size: 25px;
font-weight: 600;
color: white;
outline: none;
    text-transform: uppercase;
}

.users .user:hover .name {
    display: block;
}

.users .user .name {
content: 'username';
position: absolute;
font-size: 9px;
height: 13px;
z-index: 5;
background: white;
color: #222;
right: 40px;
display: none;
line-height: 15px;
padding: 1px 4px;
margin: auto 0;
top: 0;
bottom: 0;
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
}

code {
    background-color:#fff;
border-radius:3px;
border:1px solid #cfcfcf;
color:#e77e00;
font-family:"Source Code Pro",Monaco,monospace;
font-weight:600;
font-size:11px;
padding:2px;
}

.room.off {
    display: none;
}

.room.on {
    display: block;
}